<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>