<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/@popperjs/core/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="/froala-editor/js/froala_editor.pkgd.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>