<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<div class="text-center">
    <h1 class="d-none"><%= title %></h1>

    <!--
        <form method="post">
        <input type="submit" value="Create"/>
    </form>
    -->
    <h2 class="display-5 my-5">Welcome!</h2>
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Home page title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>


<%- include partials/bottom_nav.ejs %>
