.layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
    grid-template-columns: 4fr 16fr;
    grid-template-rows: 5fr 90fr 3fr;
    gap: 5px;
    height: 100vh;
    padding: 5px 5px 0 5px;
}

.logged-layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
    grid-template-columns: 4fr 16fr;
    grid-template-rows: 5fr 90fr 3fr;
    gap: 5px;
    height: 100vh;
    padding: 5px 5px 0 5px;
}

.grid-header{
    grid-area: header;
}

.grid-nav{
    grid-area: sidenav;
}

.grid-main{
    grid-area: content;
}

.grid-footer{
    grid-area: footer;
}

.img-preview{
    width: 70%;
}

textarea{
    width: 70%;
    height: 150px;
}