<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<form class="container bg-white shadow d-flex flex-row my-5" method="POST">
    <!-- sidenav -->
    <div class="bg-light py-5 px-4">
        <a href="/student/dashboard" class="d-block text-decoration-none">Home</a>
        <a href="" class="d-block text-decoration-none">Submit Ready-Made Essay</a>
        <a href="/student/test-yourself" class="d-block text-decoration-none">Test-Yourself</a>
        <a href="" class="d-block text-decoration-none">View Pending Feedback</a>
        <a href="" class="d-block text-decoration-none">Submission History</a>
        <a href="/student/my-account" class="d-block text-decoration-none">My Account</a>
        <a href="/logout" class="d-block text-decoration-none">Logout</a>
    </div>
    <div class="p-4 flex-grow-1">
        <p><%= message %></p>
        <h5 class="mt-3">About Test</h5>
        <p class="mb-1">
            The IELTS Writing and Reading tests are different in the Academic and General Training tests.
        </p>
        <p class="mb-1">
            For example,
            the Academic test has topics suitable for anyone entering university or professional institutions.
        </p>
        <p class="mb-5">
            On the other hand, the General Training test contains topics based on general interest.
        </p>
        <h5>Difference between IELTS Academic and IELTS General</h5>
        <div class="d-flex">
            <div class="w-50 py-5 text-center border my-3 me-5">CHART</div>
            <table class="w-50 w-50 my-3">
                <tr>
                    <td>
                        <p class="mb-0">What type of IELTS are you taking?</p>
                    </td>
                    <td>
                        <div class="form-check form-check-inline ms-auto">
                            <input class="form-check-input" type="radio" name="type" id="academic" value="academic"
                                required>
                            <label class="form-check-label small" for="academic">Academic</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="general" value="general"
                                required>
                            <label class="form-check-label small" for="general">General</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="small fw-light text-warning mb-0">*Your choice will determine prompt selection</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <p class="mb-0">Do you want to take part 1 and/or part 2?</p>
                    </td>
                    <td>
                        <div class="form-check form-check-inline ms-auto">
                            <input class="form-check-input" type="checkbox" id="part1" name="part" value="1">
                            <label class="form-check-label small" for="part1">Part 1</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="part2" name="part" value="2">
                            <label class="form-check-label small" for="part2">Part 2</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="mb-0">Accessibility mode</p>
                    </td>
                    <td>
                        <div class="form-check form-switch ms-auto">
                            <input class="form-check-input" type="checkbox" name="accessibility" role="switch"
                                id="flexSwitchCheckDefault">
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-primary d-block mx-auto px-5 my-4">Continue</button>
    </div>

</form>

<%- include ../partials/footer.ejs %>